# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node / frontend
node_modules/
dist/
build/

# Archives
*.zip
*.tar
*.gz
*.7z
*.rar

# Media nặng (cho phép ảnh; chỉ chặn video/audio)
*.mp4
*.avi
*.mov
*.mkv
*.wav
*.mp3

# Data (chỉ giữ file cần thiết)
data/*
!data/profile.json
