# Virtual env & build cache
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Git metadata
.git/
.gitignore

# Data: bỏ hết trừ profile.json
data/*
!data/profile.json

# Node/build
node_modules/
dist/
build/

*.zip
*.tar
*.gz
*.7z
*.rar
*.mp4
*.avi
*.mov
*.mkv
*.wav
*.mp3